<div class="splide splide_content_padding" role="group" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
        <ul class="splide__list" id="reviewsList">
            <li class="splide__slide review" style="border-color: {{ block.settings.accent_color_inactive }}">
                <div class="stars">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                </div>
                <div class="content">
                    Awesome products, reccomended!
                </div>
                <div class="name">
                    Simone
                </div>
                <div class="time">
                    1 day ago
                </div>
            </li>
            <li class="splide__slide review" style="border-color: {{ block.settings.accent_color_inactive }}">
                <div class="stars">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                </div>
                <div class="content">
                    The shipment was really fast, will definitely order again.
                </div>
                <div class="name">
                    Gianni
                </div>
                <div class="time">
                    2 days ago
                </div>
            </li>
            <li class="splide__slide review" style="border-color: {{ block.settings.accent_color_inactive }}">
                <div class="stars">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                </div>
                <div class="content">
                    Vestibulum semper iaculis nunc.
                </div>
                <div class="time">
                    3 days ago
                </div>
            </li>
        </ul>
    </div>
</div>
<script>
    {% comment %} exposing shop domain {% endcomment %}
    const shopDomain = "{{ shop.domain }}";
</script>

<style>
    .splide__slide{
        border-color: {{ block.settings.accent_color_inactive }} !important;
    }

    .splide__slide.is-active{
        border-color: {{ block.settings.accent_color_active_border }} !important;
    }
    
    .splide__pagination__page.is-active{
        background: {{ block.settings.accent_color_active_dots }} !important;
    }

    .splide__slide .stars .active {
        color: {{ block.settings.accent_color_active_border }} !important;
    }
</style>

<!-- Better -->
<script src="{{ 'splide.min.js' | asset_url }}" defer></script>
{{ 'splide.min.css' | asset_url | stylesheet_tag }}

{% comment %} {{ "shopify-app-logo.png" | asset_url | image_tag }} {% endcomment %}

{% comment %} {% render "app_snippet" %} {% endcomment %}
{% schema %}
{
  "name": "Reviews classic",
  "target": "section",
  "stylesheet": "app.css",
  "javascript": "app.js",
  "settings": [
    {
      "label": "Accent Color Active Dots",
      "id": "accent_color_active_dots",
      "type": "color",
      "default": "#F5F5F5"
    },
    {
        "label": "Accent Color Active Border",
        "id": "accent_color_active_border",
        "type": "color",
        "default": "#2196F3 "
    },
    {
      "label": "Accent Color Inactive",
      "id": "accent_color_inactive",
      "type": "color",
      "default": "#E1E3E4"
    }
  ]
}
{% endschema %}
